Repository Qiskit/qiskit-metapackage, pull requests merged in 2019-10, with the labels that each got.

#602 Fix typo
  docs/the_elements.rst
Labels: documentation

#604 Update LOCALIZATION_CONTRIBUTORS
  docs/LOCALIZATION_CONTRIBUTORS
Labels: Localization

#607 Update LOCALIZATION_CONTRIBUTORS
  docs/LOCALIZATION_CONTRIBUTORS
Labels: Localization

#599 Adding myself as translator
  docs/LOCALIZATION_CONTRIBUTORS
Labels: Localization, documentation

#614 Update LOCALIZATION_CONTRIBUTORS
  docs/LOCALIZATION_CONTRIBUTORS
Labels: Localization

#613 Update LOCALIZATION_CONTRIBUTORS
  docs/LOCALIZATION_CONTRIBUTORS
Labels: Localization

#609 Adding Vicente Pina to localisation list
  docs/LOCALIZATION_CONTRIBUTORS
Labels: Localization

#623 Fix typehints problem
  docs/conf.py
  requirements-dev.txt
Labels: enhancement

#636 Fixing indentation of contributing to qiskit
  docs/contributing_to_qiskit.rst
Labels: documentation

#650 Delete /stubs/ from poBranch
  docs/locale/en/LC_MESSAGES/stubs/qiskit.visualization.VisualizationError.po
  docs/locale/en/LC_MESSAGES/stubs/qiskit.visualization.circuit_drawer.po
  docs/locale/en/LC_MESSAGES/stubs/qiskit.visualization.dag_drawer.po
  docs/locale/en/LC_MESSAGES/stubs/qiskit.visualization.iplot_bloch_multivector.po
  docs/locale/en/LC_MESSAGES/stubs/qiskit.visualization.iplot_histogram.po
  docs/locale/en/LC_MESSAGES/stubs/qiskit.visualization.iplot_state_city.po
  docs/locale/en/LC_MESSAGES/stubs/qiskit.visualization.iplot_state_hinton.po
  docs/locale/en/LC_MESSAGES/stubs/qiskit.visualization.iplot_state_paulivec.po
  docs/locale/en/LC_MESSAGES/stubs/qiskit.visualization.iplot_state_qsphere.po
  docs/locale/en/LC_MESSAGES/stubs/qiskit.visualization.pass_manager_drawer.po
  docs/locale/en/LC_MESSAGES/stubs/qiskit.visualization.plot_bloch_multivector.po
  docs/locale/en/LC_MESSAGES/stubs/qiskit.visualization.plot_bloch_vector.po
  docs/locale/en/LC_MESSAGES/stubs/qiskit.visualization.plot_circuit_layout.po
  docs/locale/en/LC_MESSAGES/stubs/qiskit.visualization.plot_error_map.po
  docs/locale/en/LC_MESSAGES/stubs/qiskit.visualization.plot_gate_map.po
  docs/locale/en/LC_MESSAGES/stubs/qiskit.visualization.plot_histogram.po
  docs/locale/en/LC_MESSAGES/stubs/qiskit.visualization.plot_state_city.po
  docs/locale/en/LC_MESSAGES/stubs/qiskit.visualization.plot_state_hinton.po
  docs/locale/en/LC_MESSAGES/stubs/qiskit.visualization.plot_state_paulivec.po
  docs/locale/en/LC_MESSAGES/stubs/qiskit.visualization.plot_state_qsphere.po
Labels: Localization

#657 Add more info to contributing to docs
  docs/contributing_to_qiskit.rst
Labels: documentation
